.container {
    width: 800px;
    height: 600px;
    display: grid;
    grid-template-columns: 3fr 7fr; /* 1fr 1fr; */ /* repeat(2, 1fr); */
    grid-template-rows: 40% 60%;
}
.item {
    /* border: 1px solid gray; */
    /* 글자 가운데로 */
    display: grid;
    place-items: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.item:first-child {
    background-color: springgreen;
}
.item:nth-child(2) {
    background-color: red;
}
.item:nth-child(3) {
    background-color: peru;
}
.item:last-child {
    background-color: green;
}